
<h1>Listing users</h1>
 
<table width="500" style="border: 1px solid #ccc">
  <tr>
    <th>email</th>
    <th>profile</th>
    <th colspan="3">actions</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.profile_id %></td>
      <td><%= link_to "admin", {:controller => "users", :action => "setProfile", :user_id => user.id, :profile_id => 1 }%></td>
      <td><%= link_to "user", {:controller => "users", :action => "setProfile", :user_id => user.id, :profile_id => 2 }%></td>
      <td><%= link_to "qa", {:controller => "users", :action => "setProfile", :user_id => user.id, :profile_id => 3 }%></td>
    </tr>
  <% end %>
</table>