<div class="ui grid">
  <div class="four wide column">
    <h2>Project</h2>
    <p>
      <strong>name:</strong>
      <%= @project.name %>
    </p>
     
    <p>
      <strong>description:</strong>
      <%= @project.description %>
    </p>
    <p>
      <strong>client:</strong>
      <%= @project.client.name %>
    </p>
    <p>
      <strong>deadline:</strong>
      <%= @project.deadline %>
    </p>
    <p>
      <strong>registered:</strong>
      <%= @project.created_at %>
    </p>
    <p>
      <strong>status:</strong>
      <%= raw status(@project.status_id) %>
    </p>
    <p>
      <strong>assigned:</strong>
      <%  if @project.assigned_id %>
        <%= @project.assigned.email %>
      <% else %>
        Not assigned
      <% end %>
    </p>
  </div>
 
  <div class="twelve wide column">
    
<h4 class="ui horizontal divider header separator">
  <i class="bar newspaper icon"></i>
  Tasks
</h4>

<table class="ui stackable table">
<thead>
<tr>
  <th>name</th>
  <th>description</th>
  <th>deadline</th>
  <th>status</th>
  <th>actions</th>
</tr>
</thead>
<tbody>
<% @project.tasks.each do |task| %>
  <tr>
  <td>    
    <%= task.name %>
  </td>
  <td>
    <%= task.description %>
  </td>
  <td>
    <%= task.deadline %>
  </td>

  <td>
    
    <%= raw status(task.status_id) %>
  </td>
  <td><%= link_to 'Show', task_path(task) %></td>
  </tr>
<% end %>
</tbody>
</table>
<hr>

<h2>Add a task:</h2>
<%= form_for([@project, @project.tasks.build], :html => {:class => 'ui form'}) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.datetime_local_field :deadline %>
  </div>
  <div class="field">
    <%= f.submit :class => 'ui button'%>
  </div>
<% end %>


<%= link_to 'Back', projects_path %>
  </div>
 
</div>
