<!DOCTYPE html>
<html>
  <head>
    <title>Buda</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  	<fieldset>
  		 <%= link_to 'New project', new_project_path, :class => 'blue' %> | <%= link_to 'New client', new_client_path, :class => 'blue' %>  | 

        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% end %>
  	</fieldset>
  
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
          <%= image_tag "buda.png" %>&nbsp;
           Buda
        </a>
        <a href="#" class="item">Home</a>
        <div class="ui simple dropdown item">
          Dropdown <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
            <div class="divider"></div>
            <div class="header">Header Item</div>
            <div class="item">
              <i class="dropdown icon"></i>
              Sub Menu
              <div class="menu">
                <a class="item" href="#">Link Item</a>
                <a class="item" href="#">Link Item</a>
              </div>
            </div>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
      </div>
    </div>
    <div class="ui container" style="margin-top:100px;">
        <%= yield %>  
    </div>
     
    <!-- Templates -->
    <script id="template-projects-list" type="x-tmpl-mustache">
      <div class="ui card">
        <div class="content">        
          <div class="header">{{name}}</div>
          <div class="ui ribbon label">{{client}}</div>

          <div class="description">
            <p>{{description}}</p>
          </div>
        </div>
        <div class="extra content">
            <a href="projects/{{id}}">View</a>
            {{^isAssigned}}
              |  <a href="assign?project_id={{id}}">Assign</a>
            {{/isAssigned}}
        </div>
        <div class="extra content">
          <span class="ui status-{{status_id}} label">{{status}}</span> | <i class="calendar icon"></i>{{deadline}}
        </div>
      </div>
    </script>
  </body>
</html>
